backend-flask/.env
frontend-react-js/build

aws/layers/psycopg2/
docker/**/*

frontend-react-js/build/*
*.env
frontend-react-js/.env-local
frontend-react-js/.env-prod
aws/lambda/process-images/node_modules/*

tmp/**/*
aws/lambdas/lambda-authorizer/node_modules/*
aws/lambdas/cruddur-upload-avatar/lambda_function.zip
aws/lambdas/cruddur-upload-avatar/vendor/*
aws/lambdas/cruddur-upload-avatar/lambda_function*
