FRONTEND_URL="https://3001-${GITPOD_WORKSPACE_ID}.${GITPOD_WORKSPACE_CLUSTER_HOST}"
BACKEND_URL="https://4567-${GITPOD_WORKSPACE_ID}.${GITPOD_WORKSPACE_CLUSTER_HOST}"
POD_HOST_URL="https://${GITPOD_WORKSPACE_ID}.${GITPOD_WORKSPACE_CLUSTER_HOST}"
ENVIRONMENT="DEV"
AWS_COGNITO_USER_POOL_ID=""
AWS_COGNITO_USER_POOL_CLIENT_ID=""
CONNECTION_URL=postgresql://postgres:password@localhost:5432/cruddur
PROD_INSTANCE_ENDPOINT=""
PROD_INSTANCE_PASSWORD=**********