flask
flask-cors
watchtower
aws_xray_sdk
python-dotenv


opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests
uuid
blinker
rollbar
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability

Flask-AWSCognito

psycopg[binary]
psycopg[pool]