attrs==23.1.0
aws-sam-translator==1.67.0
aws-xray-sdk==2.12.0
backoff==2.2.1
blinker==1.6.2
boto3==1.26.160
botocore==1.29.137
certifi==2023.5.7
cfn-lint==0.77.5
charset-normalizer==3.1.0
click==8.1.3
Deprecated==1.2.13
ecdsa==0.18.0
Flask==2.3.2
Flask-AWSCognito==1.3
Flask-Cors==3.0.10
googleapis-common-protos==1.59.0
idna==3.4
importlib-metadata==6.0.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
jschema-to-python==1.2.3
jsonpatch==1.32
jsonpickle==3.0.1
jsonpointer==2.3
jsonschema==4.17.3
junit-xml==1.9
MarkupSafe==2.1.2
mpmath==1.3.0
networkx==3.1
opentelemetry-api==1.18.0
opentelemetry-exporter-otlp-proto-common==1.18.0
opentelemetry-exporter-otlp-proto-http==1.18.0
opentelemetry-instrumentation==0.39b0
opentelemetry-instrumentation-flask==0.39b0
opentelemetry-instrumentation-requests==0.39b0
opentelemetry-instrumentation-wsgi==0.39b0
opentelemetry-proto==1.18.0
opentelemetry-sdk==1.18.0
opentelemetry-semantic-conventions==0.39b0
opentelemetry-util-http==0.39b0
pbr==5.11.1
protobuf==4.23.1
psycopg==3.1.9
psycopg-binary==3.1.9
psycopg-pool==3.1.7
pyasn1==0.5.0
pydantic==1.10.7
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-jose==3.3.0
PyYAML==6.0
regex==2023.5.5
requests==2.31.0
rollbar==0.16.3
rsa==4.9
s3transfer==0.6.1
sarif-om==1.0.4
six==1.16.0
sympy==1.12
typing_extensions==4.5.0
urllib3==1.26.15
uuid==1.30
watchtower==3.0.1
Werkzeug==2.3.4
wrapt==1.15.0
zipp==3.15.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
